# Data Types

In this section, we will delve into the fundamental concepts of data types in Python. You will learn explore different data types such as numbers, strings, lists and booleans. Through hands-on examples and exercises, you will gain a solid understanding of how variables are stored and manipulated in Python.

| Topic | Link |
| --- | --- |
| Data Types | [Link](#Data-Types) |
| User Input/Output | [Link](#User-Input-Output) |

***

## Data Types

Below is a brief table of common data types:

| Data Type | Description |
| --- | --- |
| `int` | Integer numbers (e.g., 1, -5, 100) |
| `float` | Floating-point numbers (e.g., 3.14, -2.5, 0.75) |
| `str` | Strings (sequences of characters, enclosed in quotes) |
| `bool` | Boolean values (`True` or `False`) |
| `list` | Ordered collection of elements |
| `tuple` | Immutable ordered collection of elements |
| `dict` | Key-value pairs, also known as dictionaries |
| `set` | Unordered collection of unique elements |

### Int

In [ ]:
# Integer data type
integer = 5

If declaring a variable as a `float` and we want it as an integer, we can apply the `int()` function around the variable. This function rounds the number to the lowest integer that is closest to the number i.e. it acts as a `floor` function. This is known as `type` casting, where we apply a `type` function on a variable which is different to the `type` of the variable.

In [ ]:
# Float data type
float_value = 4.0
print("4.0 as an integer:", int(float_value))

In [ ]:
# Float data type
float_value = 4.3
print("4.3 as an integer:", int(float_value))

In [ ]:
# Float data type
float_value = 4.5
print("4.5 as an integer:", int(float_value))

In [ ]:
# Float data type
float_value = 4.6
print("4.6 as an integer:", int(float_value))

### Boolean

In [ ]:
# Boolean data type
is_raining = True
is_sunny = False
print("Is it raining?", is_raining)
print("Is it sunny?", is_sunny)

In [ ]:
# Logical operations
temperature = 25
is_warm = temperature > 20
is_summer = True
print("Is it warm?", is_warm)
print("Is it summer?", is_summer)
print("Is it warm in summer?", is_warm and is_summer)

We can also use `0` and `1` to define as `False` and `True` variables when used in `if/else` or `and/or` statements. We give a brief demonstration of this through chain-comparisons:

In [ ]:
# Chaining comparisons with 'and'
x = 5
# Check if x is greater than 0 and less than 10
if x > 0 and x < 10:
    print("x is between 0 and 10.")

In [ ]:
# Chaining multiple conditions with 'and'
y = 15
# Check if y is greater than 10 and less than 20 and divisible by 3
if y > 10 and y < 20 and y % 3 == 0:
    print("y is between 10 and 20 and divisible by 3.")

In [ ]:
# Chaining comparisons with 'or'
z = 25
# Check if z is less than 10 or greater than 20
if z < 10 or z > 20:
    print("z is either less than 10 or greater than 20.")

In [ ]:
# Chaining multiple conditions with 'or'
w = -5
# Check if w is less than -10 or greater than 10 or equal to 0
if w < -10 or w > 10 or w == 0:
    print("w is either less than -10 or greater than 10 or equal to 0.")
else:
    print("w does not satisfy the conditions.")

In [ ]:
# Combining 'and' and 'or'
x = 7
# Check if x is greater than 0 and either divisible by 2 or 3
if x > 0 and (x % 2 == 0 or x % 3 == 0):
    print("x is greater than 0 and divisible by 2 or 3.")
else:
    print("x does not satisfy the conditions.")

- The condition `x > 0` checks if `x` is greater than `0`, and the expression `(x % 2 == 0 or x % 3 == 0)` checks if `x` is divisible by either `2` or `3`. 
- The `or` operator evaluates to `True` if at least one of the conditions is satisfied.

### String

In [ ]:
# String data type
sentence = "Python is a powerful programming language."

In [ ]:
# Sentence manipulation
length = len(sentence)
print("Length of the sentence:", length)
print("Uppercase sentence:", sentence.upper())
print("Reversed sentence:", sentence[::-1])

In [ ]:
# Slicing
print("First five characters:", sentence[:5])  
print("Last five characters:", sentence[-5:])  
print("Every second character:", sentence[::2]) 
print("Second to fifth character:", sentence[2:5])

In [ ]:
# Splitting the sentence into words
words = sentence.split()
print("List of words:", words)

In [ ]:
# Joining the words with a custom separator
separator = "-"
joined_sentence = separator.join(words)
print("Joined sentence:", joined_sentence)

- Length of the sentence using `len()`. This returns the number of characters in the string.
- Slicing with indexing. We demonstrate extracting the first five characters of the sentence using sentence[:5] etc.... The `start:end:step` format is used for slicing.
- Splitting the sentence into a list of words using `split()`. This splits the string at each whitespace character (by default) and returns a list of individual words.
- Joining the words back together into a sentence using `join()`. We specify a custom separator (in this case, a hyphen -) and apply join() on the words list.

In [ ]:
# String formatting using format()
name = "Alice"
age = 25
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

In [ ]:
# Using eval() to evaluate an expression in a string
expression = "2 + 3 * 4"
result = eval(expression)
print("Result of the expression:", result)

In [ ]:
# Using f-strings for string interpolation
product = "apple"
price = 1.25
quantity = 3
total = price * quantity
print(f"I bought {quantity} {product}s for ${total:.2f}")

In [ ]:
# Formatting string using %d for integers
num1 = 10
num2 = 5
formatted_int = "The sum of %d and %d is %d." % (num1, num2, num1 + num2)
print(formatted_int)

In [ ]:
# Formatting string using %.3f for floats
pi = 3.1415926
formatted_float = "The value of pi is approximately %.3f." % pi
print(formatted_float)

- `format()`: To format strings by substituting values into placeholders `{}`.
- `eval()`: To evaluate an expression stored as a string and obtain the result.
- `f-strings`: To embed expressions and variables within string literals using curly braces `{}`.
- `%d`: To represent integers in a formatted string using the `%` operator.
- `%.3f`: To represent floats with three decimal places in a formatted string.

In [ ]:
# Using .upper() to convert a string to uppercase
string = "Hello, World!"
uppercase_string = string.upper()
print(uppercase_string)

In [ ]:
# Using .lower() to convert a string to lowercase
string = "Hello, World!"
lowercase_string = string.lower()
print(lowercase_string)

In [ ]:
# Using .endswith() to check if a string ends with a specific suffix
file_name = "example.txt"
if file_name.endswith(".txt"):
    print("Text file detected!")

In [ ]:
# Using .replace() to replace occurrences of a substring in a string
message = "I like cats."
updated_message = message.replace("cats", "dogs")
print(updated_message)

- `.upper()`: Converts a string to uppercase. In the example, "Hello, World!" is converted to "HELLO, WORLD!".
- `.lower()`: Converts a string to lowercase. In the example, "Hello, World!" is converted to "hello, world!".
- `.endswith()`: Checks if a string ends with a specific suffix. The code checks if file_name ends with the suffix .txt and prints a message if it does.
- `.replace()`: Replaces occurrences of a substring within a string. In the example, "cats" in the message string is replaced with "dogs", resulting in the updated message "I like dogs.".

### List

A list is an ordered, mutable i.e., can be changed after being set, collection of elements. Lists allow duplicate elements and can contain elements of different types. We can also access elements in a list through indexing and can also select various elements through slicing.

In [14]:
# Accessing 'banana' in a list - note that in Python, the first element has an index of 0
fruits = ["apple", "banana", "cherry", "avacado"]
print(fruits[1])

banana

In [15]:
# Adding an element automatically to the end of a list
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'avacado', 'orange']

In [16]:
# Adding an element in the 2nd index
fruits.insert(2, "kiwi")
print(fruits)

['apple', 'banana', 'kiwi', 'cherry', 'avacado', 'orange']

In [17]:
# Remove an element automatically (if it exists)
fruits.remove("lol")

ValueError: list.remove(x): x not in list

In [18]:
# Remove an element automatically (if it exists)
fruits.remove("banana")
print(fruits)

['apple', 'kiwi', 'cherry', 'avacado', 'orange']

In [19]:
# Remove an element from the 0th index and returns this element - this also updates the original list
fruits.pop(0), fruits

('apple', ['kiwi', 'cherry', 'avacado', 'orange'])

In [20]:
# Select all elements after the 1st element i.e., 2nd and 3rd element
fruits[1:]

['cherry', 'avacado', 'orange']

In [22]:
# Select elements from 2nd and 3rd
fruits[1:3]

['cherry', 'avacado']

- `append()`: Adds an element to the end of the list.
- `insert()`: Adds an element to a specific index of the list.
- `remove()`: Removes the first occurrence of a specified element.
- `pop()`: Removes and returns the last element.

### Dictionary

A dictionary is an unordered, mutable collection of key-value pairs. Keys must be unique and immutable i.e., cannot be changed after being set, while values can be of any type.

In [15]:
# Creating a dictionary
person = {"name": "John", "age": 30, "city": "New York"}

In [16]:
# Accessing values
print(person["name"])

John

In [17]:
# Adding a key-value pair
person["email"] = "john@example.com"
print(person)

{'name': 'John', 'age': 30, 'city': 'New York', 'email': 'john@example.com'}

In [18]:
# Removing a key-value pair
del person["age"]
print(person)

{'name': 'John', 'city': 'New York', 'email': 'john@example.com'}

In [19]:
# Dictionary methods
keys = person.keys()
values = person.values()
print(f"Keys: {keys} | Values: {values}")

Keys: dict_keys(['name', 'city', 'email']) | Values: dict_values(['John', 'New York', 'john@example.com'])

It is possible to change data types into lists by wrapping the data type in the `list` method. Note that you do not have to use the `print` method to show the output - this is because by default, when you execute the code, a method will output in the Python console the effect of that method. Similarly, you can just rewrite the variable you want printed at the end of your code to display it (which we will see below in the sets section).

In [20]:
# Obtain a list of keys
list(keys)

['name', 'city', 'email']

- `keys()`: Returns a view object of all the keys.
- `values()`: Returns a view object of all the values.
- `items()`: Returns a view object of all key-value pairs.
- `get()`: Returns the value for a specified key.
- `del`: Removes the key-value pair.

### Set

A set is an unordered, mutable collection of unique elements. Sets do not allow duplicate elements.

In [25]:
# Creating a set
numbers = {1, 2, 3, 4}

In [26]:
# Adding an element
numbers.add(5)
numbers

{1, 2, 3, 4, 5}

In [27]:
# Removing an element
numbers.remove(3)
numbers

{1, 2, 4, 5}

In [28]:
# Union
union_set = numbers.union({6, 7})
union_set

{1, 2, 4, 5, 6, 7}

In [29]:
# Intersection
intersection_set = numbers.intersection({4, 5, 6})
intersection_set

{4, 5}

In [ ]:
# Error when trying to change an element in a set
numbers[0] = 7

TypeError: 'set' object does not support item assignment

- `add()`: Adds an element to the set.
- `remove()`: Removes a specified element from the set.
- `union()`: Returns a new set containing all elements from both sets.
- `intersection()`: Returns a new set containing only common elements.

### Tuple

A tuple is an ordered, immutable collection of elements. Tuples allow duplicate elements and can contain elements of different types.

In [31]:
# Creating a tuple
point = (10, 20, 30)

In [32]:
# Accessing elements
point[1]

20

In [33]:
# Count number of occurences
count = point.count(20)
count

1

In [34]:
# Find the index of an element
index = point.index(30)
index

2

In [35]:
# Error when trying to add an element in a set
point[4] = 20
point

TypeError: 'tuple' object does not support item assignment

- `count()`: Returns the number of occurrences of a specified element.
- `index()`: Returns the index of the first occurrence of a specified element.

Here is a breakdown of the main data types in Python:

| Feature         | List                       | Dictionary                              | Set                             | Tuple                     |
| --------------- | -------------------------- | --------------------------------------- | ------------------------------ | ------------------------- |
| Ordered         | Yes                        | No                                      | No                             | Yes                       |
| Mutable         | Yes                        | Yes                                     | Yes                            | No                        |
| Duplicates      | Allowed                    | Keys: No, Values: Yes                   | No                             | Allowed                   |
| Element Access  | Index                      | Key                                     | Not Applicable                 | Index                     |
| Main Methods    | append(), remove(), sort() | keys(), values(), items(), get(), pop() | add(), remove(), union(), intersection() | count(), index()         |
| Use Case        | Store ordered collection of items | Store key-value pairs for fast lookup | Store unique items             | Store ordered collection of items that should not change |

***

# User Input/Output

Sometimes we may create programs where we want users to put it in information and then process it. We can use the `input()` function to do this:

In [ ]:
# Taking multiple inputs separated by space and splitting them
numbers = input("Enter multiple numbers separated by space: ")
numbers_list = [int(num) for num in numbers.split()]
print("Numbers:", numbers_list)

Here we have used something known as list comprehension (a technique we will dive deeper into in the following weeks).

***

# Final Remarks

Thank you for reading this notebook. Note that this is not an exhaustive notebook - there are many more things that can be done with variables and data types and I would advise further reading about this topic in the following book: [Python Programming for Beginners](https://bugs.python.org/file47781/Tutorial_EDIT.pdf).
<br>
If there are any mistakes or things that need more clarity, feel free to respond and I will be happy to reply ðŸ˜Š.

Â© *PolyNath 2023*